@page
@model Assignment01_RazorPages.Pages.Shows.CreateModel

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Show</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Show.RoomID" class="control-label"></label>
                <select asp-for="Show.RoomID" class ="form-control" asp-items="ViewBag.RoomID"></select>
            </div>
            <div class="form-group">
                <label asp-for="Show.FilmID" class="control-label"></label>
                <select asp-for="Show.FilmID" class ="form-control" asp-items="ViewBag.FilmID"></select>
            </div>
            <div class="form-group">
                <label asp-for="Show.ShowDate" class="control-label"></label>
                <input asp-for="Show.ShowDate" class="form-control" />
                <span asp-validation-for="Show.ShowDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Show.Price" class="control-label"></label>
                <input asp-for="Show.Price" class="form-control" />
                <span asp-validation-for="Show.Price" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Show.Status" class="control-label"></label>
                <input asp-for="Show.Status" class="form-control" />
                <span asp-validation-for="Show.Status" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Show.Slot" class="control-label"></label>
                <input asp-for="Show.Slot" class="form-control" />
                <span asp-validation-for="Show.Slot" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>

